$blueDark: #1e2d48;
$blueDarkRGB: 30, 45, 72;
$blueGrey: #4e5d72;
    $blueGray: $blueGrey;
    $primary: $blueGrey;
    $darkbluegrey: $blueGrey;
$blueGreyRGB: 78, 93, 114;
    $blueGrayRGB: $blueGreyRGB;
    $primaryRGB: $blueGreyRGB;
    $darkbluegreyRGB: $blueGreyRGB;
$blueMed: #05538b;
$blueMedRGB: 5, 83, 139;
$blueFaded: #5179a9;
$blueFadedRGB: 81, 121, 169;
$blue: #1c74d9;
// $blue: $blueFaded;
    $secondary: $blue;
    $link: $blue;
$blueRGB: 28, 116, 217;
    $secondaryRGB: $blueRGB;
    $linkRGB: $blueRGB;
$blueOnDark: #3486e5;
    $info: $blueOnDark;
$blueOnDarkRGB: 54, 134, 229;
    $infoRGB: $blueOnDarkRGB;


$black: #333333;
$blackRGB: 51, 51, 51;
$greyDark: #4f4f4f;
    $grayDark: $greyDark;
    $dark: $greyDark;
$greyDarkRGB: 79, 79, 79;
    $grayDarkRGB: $greyDarkRGB;
    $darkRGB: $greyDarkRGB;
$grey: #767676;
    $gray: $grey;
$greyRGB: 118, 118, 118;
    $grayRGB: $greyRGB;
$greyLight: #efefef;
    $greyLite: $greyLight;
    $grayLite: $greyLight;
    $grayLight: $greyLight;
    $light: $greyLight;
$greyLightRGB: 239, 239, 239;
    $grayLightRGB: $greyLightRGB;
    $grayLiteRGB: $greyLightRGB;
    $greyLiteRGB: $greyLightRGB;
    $lightRGB: $greyLightRGB;


$red: #e71d1d;
    $danger: $red;
$redRGB: 231, 29, 29;
    $dangerRGB: $redRGB;

$gold: #fdb81e;
    $yellow: $gold;
    $warning: $gold;
    $linkBg: $gold;
$goldRGB: 253, 184, 30;
    $yellowRGB: $goldRGB;
    $warningRBG: $goldRGB;
    $linkBgRGB: $goldRGB;
$goldLight: #fece6c;

$green: #28a745;
    $success: $green;
$greenRGB: 40, 167, 69;
    $successRGB: greenRGB;